-i https://pypi.org/simple
alembic
aniso8601
appnope
asttokens
backcall
bcrypt
click
decorator
executing
faker
flask
flask-bcrypt
flask-cors
flask-migrate
flask-restful
flask-sqlalchemy
gunicorn
importlib-metadata
importlib-resources
ipdb
ipython
itsdangerous
jedi
jinja2
mako
markupsafe
matplotlib-inline
packaging
parso
pexpect
pickleshare
prompt-toolkit
psycopg2-binary
ptyprocess
pure-eval
pygments
python-dateutil
pytz
setuptools
six
sqlalchemy
sqlalchemy-serializer
stack-data
toml
traitlets
typing-extensions
wcwidth
werkzeug
zipp