.navbar > a{
    display: inline-block;
    box-sizing: border-box;
    width: 90px;
    padding: 5px;
    margin: 0 6px 6px;
    background: indigo;
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 15px) ;
    color: white
}
  
a.active {
    background: white;
    color: indigo;
    border: 1px solid indigo;
}